<%= form_for @olympic do |f| %>
  <p>
    <%= f.label :sport %>
    <%= f.text_field :sport %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.submit 'Create sport' %>
  </p>
<% end %>

<% @olympics.each do |olympic| %>
  <ul>
    <li>
      <%= link_to "#{olympic.sport}", olympic_path(olympic) %>, <%= olympic.country %>
    </li>
  </ul>
<% end %>